@mixin flex-center($direction: row) {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: $direction;
}

@mixin flex-column {
  @include flex-center(column);
}

@mixin flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@mixin size($width, $height: $width) {
  width: $width;
  height: $height;
}

@mixin text-glow($color) {
  text-shadow:
    0 0 5px rgba($color, 0.9),
    0 0 10px rgba($color, 0.7),
    0 0 15px rgba($color, 0.5);
}
