$light-bg: #f3f2e6;
$light-text: #4f3a30;
$light-card-bg: #ffffff;
$light-primary: #6a994e;
$light-primary-dark: #3a6b35;
$light-accent: #a7c957;

$dark-bg: #2c3e2a;
$dark-text: #e0e0e0;
$dark-card-bg: #3a4f38;
$dark-primary: #a7c957;
$dark-primary-dark: #6a994e;
$dark-accent: #52a21d;
$dark-white-text: #ffffff;

$glow-green: #39ff14;
