$light-bg: #f3f2e6;
$light-text: #4F3A30;
$light-card-bg: #FFFFFF;
$light-primary: #6A994E;
$light-primary-dark: #3A6B35;
$light-accent: #A7C957;
$light-seed: #BCDEA5;

$dark-bg: #2C3E2A;
$dark-text: #E0E0E0;
$dark-card-bg: #3A4F38;
$dark-primary: #A7C957;
$dark-primary-dark: #6A994E;
$dark-accent: #52a21d;
$dark-white-text: #FFFFFF;

$glow-green: #39FF14;